# 1. Linear Regression

## Importación de librerias

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

## Importación de datos

In [2]:
data_train = pd.read_csv("Data/train.csv")
data_test = pd.read_csv("Data/test.csv")

## Transformo todos los datos categóricos

In [3]:
train = pd.get_dummies(data_train)
test = pd.get_dummies(data_test)

In [4]:
train.sample(5, random_state=42)

,id,carat,depth,table,x,y,z,price,cut_Fair,cut_Good,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
17775,17775,0.33,60.7,58.0,4.46,4.50,2.72,666.06,0,0,...,0,0,0,0,0,0,0,1,0,0
13506,13506,1.01,61.8,59.0,6.42,6.39,3.96,918.10,0,0,...,0,0,0,0,0,0,0,0,0,1
4325,4325,2.22,59.2,59.0,8.54,8.46,5.03,951.44,0,0,...,0,0,0,0,0,1,0,0,0,0
37870,37870,0.36,62.5,56.0,4.55,4.57,2.85,649.68,0,0,...,0,0,0,0,1,0,0,0,0,0
21321,21321,1.01,60.4,58.0,6.49,6.52,3.93,897.46,0,0,...,0,0,0,0,0,0,0,1,0,0

In [5]:
#definimos x e y
X=train.drop("price", axis=1)

y=train.price

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

## Hacemos la Linear Regression

In [7]:
lr = LinearRegression()
lr.fit(X_train, y_train) #le pasamos los datos entrenados

LinearRegression()

In [8]:
y_predict = lr.predict(X_test) #testeo
y_predict_train = lr.predict(X_train) #entrenamiento

In [9]:
#calculamos el mse

In [10]:
"MSE Test", mean_squared_error(y_predict, y_test)

('MSE Test', 269.8326559103808)

In [11]:
"MSE Test", mean_squared_error(y_predict_train, y_train)

('MSE Test', 305.7950996421109)

## Test

In [12]:
lr2 = LinearRegression()
lr2.fit(X,y) #le pasamos los datos entrenados

LinearRegression()

In [13]:
precio = lr2.predict(X)

In [14]:
"MSE Precio", mean_squared_error(precio, y)

('MSE Precio', 298.44352075882153)

## Resultado

In [15]:
precio = lr2.predict(test)

In [16]:
resultado = pd.DataFrame()

In [17]:
resultado["id"]= [i for i in range(len(y-test))]

In [18]:
resultado["price"]= precio

In [19]:
resultado.head()

   id       price
0   0  754.186244
1   1  936.103961
2   2  855.998439
3   3  806.530415
4   4  881.408500

In [20]:
resultado.to_csv("SUBMIT/submit1-Olaya", index=False)