# 3. RandomForestRegressor. Datos selectivos

## Importación de librerias

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor

## Importación de datos

In [3]:
data_train = pd.read_csv("Data/train.csv")
data_test = pd.read_csv("Data/test.csv")

## Selecciono solo algunos datos

In [5]:
data_train

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,0.30,Ideal,F,SI1,61.4,55.0,4.31,4.34,2.65,630.99
1,1,0.41,Ideal,G,SI1,61.6,57.0,4.77,4.81,2.95,701.21
2,2,0.30,Very Good,H,SI1,62.2,60.0,4.24,4.28,2.65,604.26
3,3,1.04,Premium,F,VVS2,62.5,58.0,6.46,6.37,4.01,909.90
4,4,0.84,Fair,G,VS1,55.6,64.0,6.42,6.32,3.54,790.99
...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,0.58,Ideal,D,SI1,62.0,54.0,5.36,5.39,3.33,737.59
40451,40451,1.11,Ideal,F,VS2,61.8,56.0,6.66,6.70,4.13,911.13
40452,40452,1.25,Premium,H,SI2,61.6,54.0,6.95,6.85,4.25,865.52
40453,40453,0.41,Very Good,F,VS1,62.1,60.0,4.72,4.75,2.94,679.01
40454,40454,0.32,Very Good,H,SI1,62.2,56.0,4.36,4.39,2.72,610.70

In [7]:
data_train = data_train.drop(["depth","table","x","y","z"], axis=1)

In [9]:
data_test = data_test.drop(["depth","table","x","y","z"], axis=1)

## Transformo todos los datos categóricos

In [12]:
train = pd.get_dummies(data_train)
test = pd.get_dummies(data_test)

In [13]:
train.sample(5, random_state=42)

,id,carat,price,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_D,color_E,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
17775,17775,0.33,666.06,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
13506,13506,1.01,918.10,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4325,4325,2.22,951.44,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
37870,37870,0.36,649.68,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
21321,21321,1.01,897.46,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [14]:
#definimos x e y
X=train.drop("price", axis=1)

y=train.price

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

## Hacemos el RandomForest

In [16]:
rf = RandomForestRegressor()
rf.fit(X_train, y_train) #le pasamos los datos entrenados

RandomForestRegressor()

In [17]:
y_predict = rf.predict(X_test) #testeo
y_predict_train = rf.predict(X_train) #entrenamiento

In [18]:
#calculamos el mse

In [19]:
"MSE Test", mean_squared_error(y_predict, y_test)

('MSE Test', 124.2157746813782)

In [22]:
"MSE Train", mean_squared_error(y_predict_train, y_train)

('MSE Train', 17.588989213258778)

## Test

In [23]:
rf2 = RandomForestRegressor()
rf2.fit(X,y) #le pasamos los datos entrenados

RandomForestRegressor()

In [24]:
precio = rf2.predict(X)

In [25]:
"MSE Precio", mean_squared_error(precio, y)

('MSE Precio', 17.45320432813414)

## Resultado

In [26]:
precio = rf2.predict(test)

In [27]:
resultado = pd.DataFrame()

In [28]:
resultado["id"]= [i for i in range(len(y-test))]

In [29]:
resultado["price"]= precio

In [30]:
resultado.head()

   id     price
0   0  769.1028
1   1  929.8652
2   2  862.0648
3   3  799.9490
4   4  875.9445

In [31]:
resultado.to_csv("SUBMIT/submit3-Olaya", index=False)